beautifulsoup4
bs4
sklearn
pandas
numpy
joblib
requests
Services.stats_joueurs
Services.predictions_joueur
Services.pred_match
sklearn.pipeline
sklearn.preprocessing
sklearn.feature_selection  
sklearn.compose 
sklearn.neural_network 
sklearn.linear_model 